h3 {
	margin: 40px 0 0;
}
.container {
    display: flex;
}
.post-container{
	display: flex;
	width: 80%;
}
ul {
	list-style-type: none;
	padding: 0;
	width: 30%;
}

li {
	margin: 0;
	padding: 0 0 5px;
	background-color: #59b883;
	box-shadow: 10px 10px 5px grey;
	margin-bottom: 5px;

}

.post-link {
	display: flex;
	cursor: pointer;
	color: #fff;
	text-align: left;
	text-decoration: none;
}

.post-image {
	width: 25%;
	height: 100px;
}

.post-details {
	width: 60%;
}

.thumbnail {
	position: relative;
	left: 0;
	width: 100%;
	height: auto;
}

.post-preview {
	position: relative;
	top: 15px;
	border: 1px solid black;
	margin: 0 10px;
	overflow: auto;
	width: 70%;
	height: 760px;
	box-shadow: 10px 10px 5px grey;
}

.close-post{
	position: absolute;
	font-size: 30px;
	top: 24px;
	right: 22px;
}

.post-img {
	width: 50%;
}

.pagination {
  display: inline-block;
  background: #59b883;
  box-shadow: 3px 3px 5px #35495d;
}

.pagination a {
	color: #fff;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

a.post-link {
	position: relative;
}

a.active {
	background-color: #35495d;
}

.readed {
	margin: 10px;
	cursor: default;
	color: #fff;
	font-size: 20px;
}

.fas {
	font-size: 20px;
}

.fa-trash {
	margin: 10px;
	color: red;
}

.delete-all, .fa-save {
	display: block;
	cursor: pointer;
	font-size: 40px;
}

.fa-trash:hover {
	color: #35495d;
}

.gallery-container {
	width: 30%;
	overflow: auto;
	border: 1px solid black;
	box-shadow: 10px 10px 5px grey;
	max-height: 760px;
	position: relative;
	top: 15px;
}

.images-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.images-container.full {
	flex-flow: row wrap;
}

.images-container img {
	padding: 10px;
	width: 50%;
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px;
}

div.p-container {
  padding: 10px;
}

.current-post {
	box-shadow: 20px 20px 5px #35495d;
}

.tools-container {
	margin: 10px auto;
}

@media (max-width: 767px) {
	h1 {
		font-size: 18px;
	}

	.container {
		flex-flow: column;
	}

	.post-container{
		flex-flow: column;
		width: 100%;
	}

	ul {
		list-style-type: none;
		padding: 0;
		width: 100%;
	}

	.post-preview {
		width: 100%;
		position: relative;
		margin: 0 auto;
		height: 80%;
		box-shadow: 10px 10px 5px grey;
	}

	.gallery-container {
		width: 100%;
		margin-top: 10px;
	}

	.images-container.full {
		flex-flow: column wrap;
	}

	.tools-container {
		margin: 32px auto;
	}

	.delete-all, .fa-save {
		font-size: 30px;
	}
}
